[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[auth]
site_url = "http://localhost:3000"
enable_signup = true
external_phone_enabled = true
sms_autoconfirm = true

[realtime]
enabled = true
